*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body {
        background-color: #073A69;
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin: 0;
    }
    
    body h1 {
        font-family: 'Yeseva One, sans-serif';
        font-size: 100%;
    }

    .destaque {
        font-family: 'Yeseva One, sans-serif';
        font-size: xxx-large;
        text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.5);
    }

    .destaquezinho {
        padding-bottom: 4%;
    }

    .destaque2 {
        color:#780000;
        font-size: xx-large;
    }

    .container {
        display: flex;
        height: 100vh;
    }
    
    .coluna-esquerda {
        width: 15%;
        background-color: #171725;
        color: white;
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: auto;
        margin-bottom: 30%;
    }

    .menu-vertical ol {
        margin-bottom: 30%;
    }
    
    .menu-vertical a {
        color: white;
        text-decoration: none;
        font-size: 100%;
        display: block;
        padding: 2%;
    }
    
    .menu-vertical a:hover {
        color:#171725;
        background-color: #F5F5F5;
        border-radius: 4%;
        border-width: 0.5%;
        border: #F5F5F5;
    }
    
    footer {
        background-color: #171725;
        color: #FFFFFF;
        padding: 2%;
        text-align: right;
    }
    
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .termos{
        margin-left: auto;
    }

    .button {
        display: inline-block;
        padding: 0.7% 1% 0.7% 1%;
        font-size: 100%;
        color: #171725;
        background-color: #F5F5F5;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s, transform 0.2s;
    }

    .destaque3 {
        color:#780000;
        font-size: xxx-large;
        align-items:first baseline;
    }

    table {
        border-top: 5px solid #171725;
        border-bottom: 5px solid #171725;
        border-left: 5px solid #171725;
        border-right: 5px solid #171725;
        border-color: #171725;
        background-color: #780000;
        color: #F5F5F5;
        width: 100%;
        border-radius: 20px; /* Bordas arredondadas */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para efeito visual */
        padding: 5%;
        border-collapse: separate; /* Permite o uso de border-spacing */
        border-spacing: 0 25px; /* Espaço entre as linhas */
    }

    .agendar {
        color: #f5f5f5;
        border: #171725;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 6%;
    }

    #agendamento {
        padding: 4% 4% 4% 4%;
    }