*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body {
        background-color: #F1F1F1;
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    
    body h1 {
        font-family: 'Yeseva One, sans-serif';
        font-size: 100%;
    }

    .destaque {
        font-family: 'Yeseva One, sans-serif';
        font-size: xxx-large;
        text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.5);
    }

    .destaque2 {
        color:#780000;
        font-size: xx-large;
    }

    .container {
        display: flex;
        height: 100vh;
    }
    
    .coluna-esquerda {
        width: 15%;
        background-color: #171725;
        color: white;
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container2 {
        flex: 1;
        margin: 0 200px;
        max-width: 600px;
        padding: 20px;
        

    }

    .logo {
        width: 150%;
        margin-bottom: 30%;
    }

    .menu-vertical ol {
        margin-bottom: 30%;
    }
    
    .menu-vertical a {
        color: white;
        text-decoration: none;
        font-size: 100%;
        display: block;
        padding: 2%;
    }
    
    .menu-vertical a:hover {
        color:#171725;
        background-color: #F5F5F5;
        border-radius: 4%;
        border-width: 0.5%;
        border: #F5F5F5;
    }
    
    footer {
        background-color: #171725;
        color: #FFFFFF;
        padding: 2%;
        text-align: right;
    }
    
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .termos{
        margin-left: auto;
    }
    
    .parte1 {
        padding: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        gap: 1px; /*espaço do texto entre a imagem*/
    }

    .parte2 {
        background-color: #780000;
        padding: 5%;
        color: #F5F5F5;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;
    }

    .imagemvertical {
        width: 40%
    }

    .container3 {
        font-size: large;
        margin: 0 auto;
        flex: 1;
        margin-right: 20px;
        max-width: 500px;
        margin-left: 300px;
    }

    .parte3 {
        padding: 10%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
        padding-left: 20px;
        display: flex;
        margin: 0 auto;
    }

    .button {
        display: inline-block;
        padding: 0.7% 1% 0.7% 1%;
        font-size: 100%;
        color: #fff;
        background-color: #780000;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s, transform 0.2s;
    }

    .destaque3 {
        color:#780000;
        font-size: xxx-large;
        align-items: first baseline;
        margin-bottom: 20px;
    }

    .textopadrao {
        font-size: large;
        font-style: normal;
        display: flex;
        justify-content: space-between; 
        text-align: justify;
        margin-bottom: 20px;
        line-height: 1.6; /*legibilidade*/
    }
    
    .linha-vertical {
        width: 6px;
        background-color: #780000;
        position: relative;
        left: 170px;
        top: 60px;
        height: 240px;
    }

    .conteudo-direita {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        margin-left: 200px;
        margin-right: 200px;
        padding-right: 20px;
    }