*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    text-align: left;
    margin: 3% 0;
    color: white;
    padding-left: 13%;
}

body {
    background-color: #171725;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.coluna-esquerda {
        width: 15%;
        background-color: #171725;
        color: white;
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

footer {
    background-color: #171725;
    color: #FFFFFF;
    padding: 2%;
    text-align: right;
    font-size: medium;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.termos{
    margin-left: 70px;
    font-size: medium;
}

.container {
    position: relative;
    height: 100vh;
}

.coluna-esquerda {
    width: 15%;
    background-color: #171725;
    color: white;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    min-height: 100vh; /* altura */
}

.coluna-esquerda a {
    display: block;
}

.coluna-esquerda a:hover {
    opacity: 0.8;
}

.logo {
    width: auto;
    padding-bottom: 10%;
    margin-top: 50px; /* Espaço do topo */
    display: block;
}

.menu-vertical {
    width: 100%;
    margin-top: auto;
}

.menu-vertical ol {
    margin-bottom: 30%;
    padding: 0;
    list-style: none;
}

.menu-vertical a {
    color: white;
    text-decoration: none;
    font-size: 100%;
    display: block;
    padding: 2%;
}

.menu-vertical a:hover {
    color:#171725;
        background-color: #F5F5F5;
        border-radius: 4%;
        border-width: 0.5%;
        border: #F5F5F5;
}

.conteudo-principal {
    width: 100%;
}

.faixa-vermelha {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #780000;
    padding: 50px;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1; /*camada */
    margin-top: 0;
}

.conteudo-faixa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.logo-faixa img {
    width: 250px;
    margin-left: 20px;
    margin-top: 120px;
}

.texto-faixa {
    padding-top: 300px;
    flex: 1;
    font-size: 17px;
    line-height: 1.8;
    margin-right: 180px; /* espaçamento entre a logo e o texto */
    text-align: left;
    max-width: 400px;
    margin-left: 170px; /*espaço da faixa azul pro texto*/
}

.colunas {
    display: flex;
    justify-content: space-around; /*espaço entre as colunas*/
    padding: 60px;
    margin-top: 640px;
}

.coluna {
    background-color: #171725;
    padding: 50px;
    max-width: 400px;
    color: white;
    }

.foto-sensei {
    display: flex;
    justify-content: center;
    margin-bottom: 1%; /*espaço abaixo da foto*/
    top: 10%;
}

.foto-sensei img {
    width: 700px;
    height: 700px;
    border-radius: 0%;
    object-fit: cover;
}

ul {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 20px;
}

.linha-vertical {
    width: 4px;
    background-color: white;
    height: 130px; /*altura*/
    margin-left: 6%;
    margin-top: 2%;
    position: absolute;
    top: 60px;
}